
:root{ /* dar a cor e tamanho no menu*/
    font-size: 12px;
    --main-color: #c09e08 ; 
    --black: #0c0909; /* cor de fundo por tras das img */
    --bg:#010103;
   
}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Roboto", serif;
}
.caixa-video{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.caixa-video video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}
.mascara{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    
    /*propriedade linear cria efeito esfumaçao na tela de fundo */ 
}
section{
    max-width: 1200px;
    padding: 3rem 2rem;
    margin:  0 auto;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background:var(--bg);
    border-bottom:var(--borde);
    width: 100vw;
}
.header section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50%;
    padding: 1.9rem 0;
    position: relative;
}
/* logo */
.header section a img{
    height: 10rem;
    width: 10rem; /* igual à altura */
    object-fit: cover; /* para manter o preenchimento sem distorcer */
    border-radius: 100%;
}

/*menu incio,descrição do livro cor  e tamanho */
.header section nav a{
    margin: 0 1rem;
    font-size: 1.5rem; /* espaçamento entre as frases inicio.descrição sobre nos*/
    color: #f7f7f3;
    transition: 0.6s linear;
   
  
}
.header section nav a:hover{
 /* header e a imagem de texto que tem home e descrição */
    color:var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.6rem;
}


/*caixa principal e onde tem o texto h3 "apresentação story of the internet"*/

.caixa-principal{
    min-height: 100vh;
    display: flex;
    align-items:center ;
    text-shadow: -1px 5px 1px #262223;
}
.caixa-principal div{
    max-width: 60rem;
}
.caixa-principal div h3{
    color: #ece90a;
    font-size: 6rem;
    text-transform: uppercase;
}
.caixa-principal div p{
    font-size: 2rem;
    color: #f8f3f3;
    font-weight: lighter;
    padding: 2rem 0;
    line-height: 1.9;
}
.botao-link{
    background-color: var(--main-color);
    cursor: pointer;
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #f7f4f4;
    padding:1rem 3rem;
    border-bottom: none;
    transition: 0.3s linear;
    text-shadow: none;
}

.caixa-principal div a:hover{
    letter-spacing: 0.1rem;
/*parte finalizada sem erros do testo H3*/
}

.titulo {
    text-align: center;
    color:#ece8e8;
    text-transform: uppercase;
    padding-bottom:3.5rem;
    font-size: 4rem;
}
.titulo span{
    color: var(--main-color);
} 
  /* comando  que cria uma aba escura do lado da imagem da img */
.caixa-sobre .sobre-container{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap:1.5rem;
    flex-wrap: wrap;
}

.caixa-sobre .sobre-container .sobre-imagem{
    flex: 1 1 45rem;
 }

/* comando para primeira img */
.caixa-sobre .sobre-container .sobre-imagem img{
    width: 100%;
    
 }

 /* caixa por tras da imagem cap 2 e 3*/
 .capitulo-2 .sobre-container { /*copiar para a terceira imagem do capitulo 3*/
    
    background-color: #888282; /* Cor diferente para destaque imag 2 */
 }

/* edição da segunda img */
.capitulo-2 .sobre-container .sobre-imagem img {
    width: 150%;
    height: 100%;
}

/* edicão do espaçamento do texto do capitulo 3 */
.caixa-sobre .sobre-container .sobre-texto{
    flex: 30rem;
    padding: 5rem;
    display: flex;
    /* flex-direction: row-reverse; reverte as imagem pro lado oposto */
    background-color:#2e2c2c ;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    
}

/*ediçao de texto  capituolo 3*/
.caixa-sobre .sobre-container .sobre-texto p{
    font-size: 1.7rem;
    font-weight: lighter;
    color: #f0eeee;
    line-height: 1.8;
    padding: 1rem 0;    
}

/* edição do espaçamento do texto do capitulo 2 */
.caixa-sobre2 .sobre-container2 .sobre-texto2{ 
    font-size: 1.7rem;
    font-weight: lighter;
    color: #ece6e6;
    line-height: 1.8;
    padding: 1rem 0;    
}

/*alinha capitulo 3 */
.capitulo-3 .sobre-container {
    display: flex;
    flex-direction: row-reverse; /* Alinhar como o capítulo 2 */
    background-color:#7a7979 ;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
 
}

/* img do mapa */
.capitulo-3 .sobre-container .sobre-imagem img {
    width: 97%;
    
   
}

/* perfil sobre nos */

footer {
    background-color: #4e4545; /* aba por tras dos quadros com texto*/
    color: #f1f1ef;
    padding: 3rem 2rem;
    text-align: center;
    border-radius:  60px 60px 0px 0px;
}

footer h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.links-perfis {
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.links-perfis a {
    font-size: 1.6rem;
    color: #f5f5f2; /* texto dentro dos quadrados */
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    background-color: #0f0e0e;
}

.links-perfis a:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #110d0d;
}










